
<div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center" class="footer-sticky">
    <div fxFlex="20%">
        <div> contact info </div>
        <div> <button mat-button >info@purohit</button> </div>
        <div> <button mat-button> www.purohit.com </button> </div>
        <div> <button mat-button> contact us </button> </div>
    </div>
    <div fxFlex="20%">
        <div> main links </div>
        <div> <button mat-button >login</button> </div>
        <div> <button mat-button> register </button> </div>
        <div> <button mat-button> sitemap </button> </div>
    </div>
    <div fxFlex="20%">
        <div> policy info </div>
        <div> <button mat-button >how we work</button> </div>
        <div> <button mat-button> privacy and policy</button> </div>
        <div> <button mat-button> FAQ </button> </div>
    </div>
    <div fxFlex="20%">
        <div> payment partners </div>
        <div> <button mat-button > paypal </button> </div>
        <div> <button mat-button> googlepay </button> </div>
        <div> <button mat-button> phonepay  </button> </div>
    </div>
</div>
