
/* .cdk-overlay-container{
    left:200px;
    top:200px;
}
.cdk-overlay-connected-position-bounding-box{
    top:0 !important;

} */

/* ::ng-deep .mat-menu-panel {
  max-width: none!important;
  min-width: 300px!important;
  background-color: antiquewhite;
  margin-left: 350px;
  margin-top: -50px;
} */

/* .menu-align-style {
  margin-left: 350px; 
   margin-top: -50px;
} */