<div >
    <div class="box-header">
        <span> About Eastern Space</span>
    </div>
    <br>
    <div class="about-info">
        <p>
            Eastern space was established in 2020 january 1, The main aim of Easter space is to build better websites and provide better service to the
            customers. We accept freelance webistes also, Our motive is to build better websites with new updated technologies.
            <br><br>
            We develop Profile templates, blog templates with customised editor, matrimony template, admin pages, chatbot and billing software, we are using frontend
            technologies like HTML, CSS, bootstrap, AngularJS, ReactJS, Angular 10, Backend technologies we are good at spring boot microservices, microservice architecture designing,
            devops like AWS, Jenkins, Docker and kubernates along with Databases MySql and Postgres. Other integration like ML face recognition, Email alert service, ETL Service,
            Google maps integration, Sftp integration from backend and much more...
        </p>
    </div>
</div>
<div >
    <div class="box-header">
        <span> Technologies we USe</span>
    </div>
    <br>
    <div>
        <img src="../../../assets/jpeg/angular9.jpeg" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/jpeg/angularjs.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/html.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/css.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/java.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/react.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/typescript.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/vue.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/aws.png" height="200" width="200" style="margin: 1%;">
        <img src="../../../assets/png/springboot.png" height="200" width="200" style="margin: 1%;">
    </div>
</div>

<div >
    <div class="box-header">
        <span> Frequently Asked Questions </span>
    </div>
    <br>
    <div>
        <ul>
            <li> What is easter space </li>
        </ul>
    </div>
</div>
