<p>settings works!</p>

<div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="70">
        <mat-card>
            <mat-card-title> Settings </mat-card-title>
            <h3> Comapny Details</h3>
            <div>
                <input matInput placeholder="Company name">
                <input matInput placeholder="Address line 1">
                <input matInput placeholder="Address line 2">
                <input matInput placeholder="State">
                <input matInput placeholder="Country">
                <input matInput placeholder="Zip">
                <input matInput placeholder="Email">
                <input matInput placeholder="phone">
            </div>
        </mat-card>
    </div>
</div>
