<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1%">
    <div fxFlex="20%">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://i.pinimg.com/736x/df/e8/ef/dfe8efa28ee71c051b15ae24310ce686.jpg">
                <mat-card-title>Pooja</mat-card-title>
                <mat-card-subtitle>All pooja's</mat-card-subtitle>
                
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="https://i.pinimg.com/736x/df/e8/ef/dfe8efa28ee71c051b15ae24310ce686.jpg" width="100%">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>like</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="20%">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://5.imimg.com/data5/KA/YY/MY-49733568/ganapathy-homam-set-2837-items-29.png">
                <mat-card-title>Homam</mat-card-title>
                <mat-card-subtitle>All pooja's</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="https://5.imimg.com/data5/KA/YY/MY-49733568/ganapathy-homam-set-2837-items-29.png" width="100%" height="340vh">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>like</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="20%">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://th.bing.com/th/id/OIP.l2Rcib6eXpThZsVjVrEykgHaE8?pid=ImgDet&w=2560&h=1707&rs=1">
                <mat-card-title>Ceremony</mat-card-title>
                <mat-card-subtitle>All pooja's</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="https://th.bing.com/th/id/OIP.l2Rcib6eXpThZsVjVrEykgHaE8?pid=ImgDet&w=2560&h=1707&rs=1" width="100%" height="340vh">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>like</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="20%">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://i.pinimg.com/736x/13/53/e1/1353e192d5aff77e6330a2779783f0f4.jpg">
                <mat-card-title>Other Services</mat-card-title>
                <mat-card-subtitle>All pooja's</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image src="https://i.pinimg.com/736x/13/53/e1/1353e192d5aff77e6330a2779783f0f4.jpg" width="100%">
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>like</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>