<div class="welcome-main" role="main">
	<p></p>
	<mat-toolbar class="welcome-toolbar">
		<mat-toolbar-row>
			<span > welcome   </span>    
			<a mat-button routerLink="/blog" >blog</a>
			<a mat-button routerLink="/blog" >Contact us</a>
			<a mat-button routerLink="/blog" >About</a>

			<div class="welcome-spacer"></div>

			<a mat-button routerLink="/register" >Register</a>
			<a mat-button routerLink="/login" >login</a>
		</mat-toolbar-row>
	</mat-toolbar>

	<router-outlet></router-outlet>
</div>
