<div fxLayout="row warp" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0.5%">
	<div *ngFor="let item of [1,2,3,4]" fxFlex="30%">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Feeds</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				This is testing2
			</mat-card-content>
		</mat-card>
	</div>
	<div *ngFor="let item of [1,2,3,4]" fxFlex="30">
		<mat-card>
			<mat-card-header>
				<mat-card-title>Feeds</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				This is testing3
			</mat-card-content>
		</mat-card>
	</div>

</div>