<div style="text-align: center;">
    Get in touch
</div>
<div style="text-align: center;margin: 2%;">
    <div style="display: inline-block;margin: 2%;">
        <mat-card>
            <mat-card-header>Chat with Social media</mat-card-header>
            <mat-card-content>
                <a>harish.erupothu@gmail.com</a>

            </mat-card-content>
        </mat-card>
    </div>

    <div style="display: inline-block;margin: 2%;">
        <mat-card>
            <mat-card-header>Call us on</mat-card-header>
            <mat-card-content>
                <a>+91 8688434962</a>
            </mat-card-content>
        </mat-card>
    </div>

    <div style="display: inline-block;margin: 2%;">
        <mat-card>
            <mat-card-header>Find us @</mat-card-header>
            <mat-card-content>
                <a> kukatpally, Hyderabad</a>

            </mat-card-content>
        </mat-card>
    </div>
</div>